.c-card {
    padding: ($unit * 2);
    margin: ($unit * 2) 0;
    border: 1px solid $neutral-40;

    background: $neutral-30;
    border-radius: $border-radius;
    box-shadow: inset 0 1px 4px rgba($neutral-40, 0.75);

    font-weight: bold;
}
